.unread {
  background-color: #f9f9f9;  /* Exemple de fond pour les notifications non lues */
  font-weight: bold;
}

.time {
  font-size: 0.9em;
  color: #888;
}

.clear-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #ff3333;
}

.mark-read-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.mark-read-btn:hover {
  background-color: #45a049;
}
