.forbidden {
  text-align: center;
  margin-top: 50px;
}

.forbidden h1 {
  font-size: 5rem;
  color: #ff6347;
}

.forbidden p {
  font-size: 1.2rem;
  color: #555;
}

.forbidden a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #007bff;
}

.forbidden a:hover {
  text-decoration: underline;
}
